.minecraftLogo1{
    height: 10%;
    width: 10%;
    margin-top: 3%;
    margin-left: 3%;
}

.EsportstextImage{
    height: 30%;
    width: 80%;
    margin-top: -3%;
    margin-left: 10%;
}

.minecraftLogo2{
    height: 10%;
    width: 10%;
    margin-top: -3%;
    margin-left: 85%;
}